body {
   
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  background-color: #ffffff;
  box-sizing: border-box;
}


.section7 {
    margin: 3rem 3rem 1.9rem 5rem;
    width: 100%;
    height: 100vh;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
   
    grid-template-areas: 
    "subheader subheader subheader subheader"
    "header paragraph paragraph paragraph"
    "smallcard bigcard bigcard bigcard"
    "smallcard bigcard bigcard bigcard";

    gap: 0.2rem;

}

.section7_subheader {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
    color: #9A9A9A;
    grid-area: subheader;
}   

.sec_coloured_text {
    color: #5f05a5;

}



.section7_header {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 17px;
    width: 18rem;
    height: 2rem;
    color: #262626 ;
    grid-area: header;
}

#section7_paragraph {
    
    width: 27rem;
    height: 1.44rem;
    font-size: 0.912rem;
    font-weight: 300;
   align-self: center;
   justify-self: center;
    
    margin-right: 2rem;
    color: #9A9A9A;
    grid-area: paragraph;
    
}




.section7_smallcard {
    background-image: url('sec7and8_images/sec7img1edit.png');
    background-size: cover;
    background-position: center;
    grid-area: smallcard;
    background-repeat: no-repeat;
    width: 70%;
    height: 30rem;
    border: 2px solid #ffffff;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    top: 0.5rem;
    left: 0.4rem;
}

.section7_smallcard_content {
    position: absolute;
    bottom: 10px;
    left: 7px;
    width: 90%;
    height: 95%;
    border: 2px solid white;           
    border-radius: 15px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    bottom: 10px;
    color: #ffffff;
    
}

#section-7-smallcard-discount{
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 5px;
}

#section-7-smallcard-date {
    font-size: 0.875rem;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 4px;
}

.section7_smallcard_content a{
    
    color: #ffffff;
    padding: 15px 20px;
    font-size: 0.875rem;
    font-weight: 500;
    margin-top: 10px;
}

.section7_bigcardcontainer {
    width: 80%;
    height: 98%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 0.2rem 1rem;
    grid-area: bigcard;
}

.section7_bigcard {
    height: 10rem;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 0.1em;
    position: relative;
    /* justify-content: start;
    align-content: start; */                   
}


.section7_flowers {
    width: 80%;
    height: 90%;
    left: 10%;
    position: absolute;
    
}

.section7_bigcard_wrapper {
    position: relative;
    width: 95%;
    height: 8rem;
    top: 4px;
    left: 0;
    justify-self: center;
    background-color: #f6f6f6;
    border-radius: 10px;
   
}

.section7_button {
    background-color: #F790E4;
    color: #AB5E9B;
    border: none;
    border-radius: 50px;
    position: absolute;
    top: 6px;
    left: 3px;
}

.section7_symbols {
    position: absolute;
    top: 6px;
    right: 6px;
    display: flex;
    flex-direction: column;
   gap: 10px;               
  align-items: center;
    margin-left: 5px;
   

}

.sec7symbols {
    width: 19px;
    height: 19px;
}

.section7_symbols p {
    width: 20px;
    height: 20px;
    margin: 0;
  border-radius: 50%;        /* Make it round */
  background-color: #ffffff; /* Light gray circle */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.section7_flowerheading {
    color: #ACACAC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.7em;
    font-weight: 500;
    height: 0.8em;
    margin: 10px 0 5px 0;
}

.section7_rating {
 font-size: 0.8rem;
    font-weight: 400;
    color: #262626;
}

.yellowstar {
   width: 1.8em;
    height: 1.2em; 
}

.section7_flowernames {
    font-size: 1rem;
    font-weight: 600;
    color: #262626;
    height: 1.2rem;
   margin: 0;
}

.section7_oldprice {
    text-decoration: line-through;
     color: #ACACAC;
}





.section8 {
      margin: 3rem 3rem 1.9rem 5rem;
    width: 90%;
    height: 100vh;
    background-color: #f6f6f6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
   
    grid-template-areas: 
    "subheader subheader subheader subheader"
    "header header header header"
    "maincard maincard maincard maincard"
    "maincard maincard maincard maincard";

    gap: 0.2rem;
}

.section8Subheader{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0;
    color: #252525;
    grid-area: subheader;
    display: grid;
    justify-content: center;
}

.section8Header{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 17px;
    margin-left: 25rem;
    margin-top: 0;
    width: 25rem;
    height: 2rem;
    color: #262626 ;
    display: flex;
    /* display: ; */
    justify-content: center;
    align-content: center;
    grid-area: header;
}

#our-clients-say {
    
    margin-left: 5px;
}

.section8Container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: maincard;
}

.section8Card {
    background-color: #ffffff;
    width: 25rem;
    height: 18rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    text-align: justify;
    
    color: #262626;
}

.section-8-card-paragraph {
    font-size: 0.7rem;
    color: #242424;
}

.section8Profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.section8ProfileImgWrapper {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    border: 4px solid #ffffff;
    border-style: double;
    overflow: hidden;
    box-sizing: border-box; /* Ensures padding doesn't affect overall size */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#section8ProfileImgWrapper1 {
    background-image: url("sec7and8_images/sec8img1new.png");
     background-size: cover;
    background-position: center;
}

#section8ProfileImgWrapper2 {
    background-image: url("sec7and8_images/beauty-woman.jpg");
    background-size: cover;
    background-position: center;
}

.section8ProfileImg {
    width: 76px;
    height: 76px;
    border-radius: 50%;
    border: 4px solid #ffffff;
    
}

.section8ProfileName{
    font-size: 1.3rem;
    font-weight: 600;
    color: #262626;
    margin: 0;
}

.section8ProfileRating {
    font-size: 0.8rem;
    font-weight: 400;
    color: #252525;
    margin: 4px 0 0 0;
}

 .section8ProgressContainer {
      width: 200px;             
      height: 8px;              
      background-color: #f0f0f0;
      border-radius: 10px;       
      overflow: hidden;      
      display: flex;   
      justify-content: space-between;
      margin:  0 80% 0;
    }

    .section8ProgressBar {
      height: 100%;
      width: 25%;                
      background-color: #f0f0f0;  
      border-radius: 10px; 
        margin-right: 3px;
      
    }

    #section8ProgressBar1 {
       background-color: #5f05a5;   
    }

